header ul {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: gray;
}

header.header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 46px;
}

header.header .container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header .container .logo {
    background-image: url('../images/linkedin.svg');
    width: 30px;
    height: 30px;
}

.logo-input {
    display: flex;
}

.logo-input input {
    border: 0;
    border-radius: 4px;
    margin-left: 5px;
    padding-left: 8px;
    background-color: rgb(242, 246, 246);
}

.icons-links ul {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
}

.icons-links ul li {
    margin: 0 5px;
}

.icons-links ul li img {
    cursor: pointer;
    height: 20px;
    margin: 0 auto;
    width: 30px;
    display: block;
}

.icons-links ul li a {
    font-size: 14px;
}

.eu {
    border-radius: 50%;
}

@media screen and (max-width: 764px) {
    .logo-input input {
        width: 50px;
    }
}

@media screen and (max-width: 620px) {
    .logo-input input {
        width: 60px;
    }
    .icons-links ul li a {
        display: none;
    }
    .icons-links ul li {
        margin: 0 3px;
    }
}

@media screen and (max-width: 388px) {
    @media screen and (max-width: 528px) {
        .logo-input input {
            width: 28px;
        }
        .icons-links ul li {
            margin: 0 1px;
        }
    }
}